body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

a {
    color: white;
    text-decoration: none;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.produto {
    border: 1px solid #ddd;
    margin: 10px;
    text-align: center;
    padding: 10px;
    width: 200px;
}

.produto img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
